@font-face {
    font-family: 'Solid';
    src: url('src/assets/fonts/Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  p{
    font-family: 'Solid', sans-serif;
    color: #ffcc03;
    font-size: 18px;
    text-shadow: 
    -2px -2px 0 #0755AA,
    2px -2px 0 #0755AA,
    -2px 2px 0 #0755AA,
    2px 2px 0 #0755AA;
  }
